body{
    margin: 0;
    padding: 0;
}

.appContainer{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    position: fixed;

    @import 'graph.scss';
    @import 'panel.scss';
}